<div *ngIf="bookmark">
  <h2>{{bookmark.name | uppercase}} Details</h2>
  <div><span>ID: </span>{{bookmark.id}}</div>
  <div>
    <input id="bookmark-name" [(ngModel)]="bookmark.name" placeholder="name">
    <label for="bookmark-name">Name </label>
  </div>
  <div>
    <input id="bookmark-url" [(ngModel)]="bookmark.url" placeholder="url">
    <label for="bookmark-url">URL </label>
  </div>
  <div>
    <input id="bookmark-group" [(ngModel)]="bookmark.group" placeholder="group">
    <label for="bookmark-group">Group </label>
  </div>
</div>
<button (click)="goBack()">My Bookmarks</button>
