input {
  padding: .5rem;
}

button.delete {
  position: absolute;
  left: 260px;
  color:  #525252;
  font-size: 1.1rem;
}

button.edit {
  position: relative;
  //left: 230px;
  color:  #525252;
  font-size: 1.1rem;
}
